<mat-card>
  <mat-card-title>Unit Converter</mat-card-title>
  <mat-card-subtitle>Version 1.0</mat-card-subtitle>
  <mat-card-content>
    <p>This Converter app was a course work made in 
        Web Frameworks @LAB fall 2021.Framework stack used was Angular v10.1. Source code was written in TypeScript using VS Code. 
        Ui framework used was Angular Material v10.2.</p>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="/" routerLinkActive="active">
        <i class="material-icons">home</i>
      </a>
  </mat-card-actions>
</mat-card>